---
filter:
  - textile
updated: 25 Nov 2008
version: 1
---

Help module listens for the HELP keywords to applications and makes sure that the response the application sends is delivered as Free To End User (FTEU) message.

The module doesn't do anything besides that. It delegates the processing to the client application, and wraps the response in the correct structure.