---
filter:
  - textile
updated: 01 Apr 2011
version: 1
---

h1. Carriers

This set of calls lets the application work with carrier data.

h1. Carrier Info (carrier_info)

Query for carrier info for the given phone number.

Parameters:

* api_key             - (String) API key of the application
* phone_number        - (String) phone number to get info for (10 digits in arbitrary format)

Responses:

* HTTP Code 500 and error message in the body
* HTTP Code 200 with JSON hash (text/javascript):
** :id - internal carrier ID, unique for every carrier (e.g. 34, 140 etc)
** :name - human-readable carrier name (e.g. Verizon, T-Mobile etc)

h1. Supported Carriers

<iframe src="https://spreadsheets.google.com/pub?hl=en&hl=en&key=0AjIiyAMax5ukdFIyWkFYREk2WmxROGFLMUhhYV94d3c&output=html" name="carriers" scrolling="auto" frameborder="no" align="center" height="500px" width="568px">
</iframe>