---
pretitle: Textingit by Recess Mobile &mdash;
title: SMS API
created_at: Thursday May 28 2009
filter:
  - haml
  - erb
  - basepath
layout: textingit
extension: html
dirty: true
sitename: Texting it
---

#info-column.span-14.prepend-1.append-1
  %h4.light-title.what.span-13.last
    what:
    %em
      text-messaging (SMS) API
  %ul.span-14.last
    %li
      %h3.one
        Shortcode SMS
      %ul
        %li Real messaging, not email-based!
        %li Compare with any aggregator's solution.
    %li
      %h3.two
        2&cent; per message
      %ul
        %li And no charge for incoming messages.
        %li Complete two-way messaging system, with delivery confirmations, based on Tier 1 &amp; 2 carrier binds.
    %li
      %h3.three
        &#36;500 per month per message
      %ul
        %li That's the only fixed charge you pay.
        %li You get full access to the API, as well as a UI for managing your messaging and setting up applications.
        %li No hidden charges, no setup fees.
    %li
      %h3.four
        No keyword cap
      %ul
        %li No fixed limit on keywords.
        %li Generate as many you need on our shortcode.
    %li
      %h3.five
        Number porting
      %ul
        %li
          Don't worry about ported numbers or identifying carriers. This is real messaging, not an email-to-SMS solution. Fully
          %a{ :href => 'http://www.mmaglobal.com/policies', :title => "Mobile Marketing Association" }MMA
          compliant.
    %li
      %h3.six
        Robust HTTP API
      %ul
        %li
          Easy to implement &amp; flexible. We use it&nbsp;
          %a{ :href => 'http://www.recessmobile.com', :title => "Recess Mobile," }<>
            ourselves
          \.
        %li Support for session management, subscriptions, help, opt-in, opt-out, scheduled messaging, flexible keyword associations, and delivery confirmations.
#sidebar.span-8.last
  %h4.light-title.who.span-8.last
    %a{ :href => 'http://www.recessmobile.com', :title => "Recess Mobile" }
      who:
  %h1.logo.last
    %a{ :href => 'http://www.textingit.com', :title => "Textingit home" }
  %h2.tagline.last
    Carrier-grade messaging at a huge discount. Only
    %strong
      20
    licenses available.
  %ul.nav.span-7.last
    %li
      %a.api-docs{ :href => 'http://privatelabelsms.com/api', :title => "API Documents" } API Documents
    %li
      %a.about-us{ :href => 'http://www.recessmobile.com/sub/about-us', :title => "About Us" } About Us
    %li
      %a.blog{ :href => 'http://www.recessmobile.com/blog', :title => "Recess Mobile blog" } Blog
  %h4.light-title.request.span-8.last
    request a license
  .span-8.last
    = render :partial => "/textingit/applynow_wufoo_js"
