--- 
filter: haml
layout: default
extension: html
dirty: true
--- 

#footer.span-24.container.last
  = render :partial => "/rmfooter"

:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

:javascript
  try {
  var pageTracker = _gat._getTracker("UA-8427709-1");
  pageTracker._trackPageview();
  } catch(err) {}
