--- 
filter:
  - haml
  - erb
layout: default
extension: html
--- 

#header.span-11.prepend-1.append-2
  %h1
    %a{ :href => '/', :title => 'Home: Texting.it, private label SMS mobile marketing solution' }
      Private label SMS mobile marketing solution
%ul#mainNavSmall.span-10.container.last
  %li
    %a.span-2.append-1.product{ :href => '#product', :title => 'Product' }
      Product
  %li
    %a.span-3.append-1.about{ :href => 'http://holmesmobile.com/about', :target => '_blank', :title => 'About us' }
      About us
  %li
    %a.span-3.last.contact{ :href => '#contactBox', :title => 'Contact us directly' }
      Contact
