---
pretitle: Private label mobile &#40;SMS&#41; marketing solution, 
title: by Holmes Mobile
created_at: Tue Aug 21 17:02:40 -0600 2007  Mon Mar 30 5:30:00 -0400 2009
filter:
  - haml
  - erb
layout: default
extension: html
dirty: true
sitename: PrivateLabelSMS
---

#headerTextBlock.span-20.prepend-2.append-2.last
  %h2
    %em
      A robust, flexible &amp; complete private-label SMS marketing solution
    \/
    %a{ :href => '#contactBox', :title => 'Contact us for a demo'  }<
      %span<
        Contact us for a demo
    \/
    %a{ :href => '#productPricing', :title => 'Review our pricing'  }<
      Review our pricing
    \/ Professional services &amp; support available /
    %a{ :href => '#technicalFeatures', :title => 'Technical features'  }<
      See our Technical Overview
    or 
    %a{ :href => '#productFeatures', :title => 'Product features'  }<
      learn more about the private-label solution
.contentTextBlock.span-22.prepend-1.append-1.last
  :textile
    Creating mobile marketing campaigns can be a daunting task. Our goal it to make it a simple, cost-effective process, with a flexible private-label SMS marketing solution. We offer low messaging prices, even at low traffic volumes. _Uses:_ marketing campaigns, real-time alerts, interactive displays, website integration, customer support (_go from paying $13 for a phone call to pennies for a text_), mobilize classified advertising, real estate listings "and more (Examples: how we use the private-label SMS marketing solution)":http://holmesmobile.com/projects. We treat SMS as a real-time notification channel, as a bridge between the real world and web-enabled data. The possibilities are limitless.
  %h3
    Benefits of SMS marketing
  %h4.subheader How you can beat the competition and achieve positive ROI by taking advantage of our private-label SMS application:
  %ul
    %li
      Novel, fully opt-in and targeted, SMS provides conversion rates between
      %strong
        12-20%
      (we've seen well above 40% in some cases), compared to print’s response rates of 1-3%
    %li
      Open rates above
      %strong
        85%
    %li Of mobile marketing respondents, 21% replied to three plus offers per month
    %li SMS advertising delivers a 33% recall rate
    %li Reach customers in their pockets
    %li Makes all of your advertising instantly trackable, from print to web to radio to TV

#imageContainer.span-22.prepend-1.append-1.container.last
  .span-6.append-2
    %h5
      %a.lightbox{ :href => 'images/screenshots/sms-subscriber-messaging.png', :title => 'SMS subscriber messaging' } SMS subscriber messaging
  .span-6.append-2
    %h5
      %a.lightbox{ :href => 'images/screenshots/sms-message-log.png', :title => 'Detailed SMS message logging' } Detailed SMS message logging
  .span-6.last
    %h5
      %a.lightbox{ :href => 'images/screenshots/modules.png', :title => 'Integrated modules for opting in SMS subscribers, opting out, help and more' } Integrated modules for opting in SMS subscribers, opting out, help and more
  .span-6.append-2
    %h5
      %a.lightbox{ :href => 'images/screenshots/text-message-scheduling.png', :title => 'Text-message scheduling (we also handle advanced scheduling by polling iCal feeds)' } Text-message scheduling (we also handle advanced scheduling by polling iCal feeds)
  .span-6.append-2
    %h5
      %a.lightbox{ :href => 'images/screenshots/keywords.png', :title => 'Associating keywords with our UI' } Associating keywords with our UI
  .span-6.last
    %h5
      %a{ :href => '/api', :title => 'Robust API (opens API documentation page)' } Robust API
#product.contentTextBlock.span-22.prepend-1.append-1.container.last
  .span-10.append-2.container
    .span-6.append-2
      %h2#technicalFeatures Technical features
    .span-2.last
      %a{ :href => '#header', :title => 'top' }back to top
    .span-10.last
      :textile
        Our system packages a gateway, user interface and intelligent routing system. At a high level, it controls the workflow of applications via modules, directs messages to and from applications and maintains a list of applications and user sessions, linking the two. It's a highly modular system. We've created numerous modules for our own purposes, and can customize the system for your needs. _The system makes it easy to create complex message flow._
        * Built-in modules for opt-in, opt-out &amp; help
        * Associate keywords in exact match and 'starts with' modes for robust sub-keywords
        * Support for multiple SMSCs, through SMPP binds or web services
        * Long-numbers available for threaded messaging &amp; and staging
        * Session and state awareness for true two-way messaging
        * Advanced subscription management
        * Flexible keyword matching &amp; selective routing
        * Wide range of "API functions (opens API documentation page)":/api
        * *Everything built from the ground up for "real applications (our projects)":http://holmesmobile.com/projects* - we eat our own dogfood
  .span-10.container.last
    .span-6.append-2
      %h2#productFeatures Product features 
    .span-2.last
      %a{ :href => '#header', :title => 'top' }back to top  
    .span-10.last
      :textile
        The short version: it does everything you need to create a mobile marketing campaign and a whole lot more if you want to build two-way SMS applications. And what it doesn't do, "we (HolmesMobile.com)":http://holmesmobile.com can build. "Email us":#contactBox with your questions.
        * Manage subscriber lists
        * Send subscribers messages (immediately, by scheduling through the UI, the "API (opens API documentation page)":/api or a calendar feed)
        * Create auto-responders
        * Customize look &amp; feel for a true white-label solution
        * Tag subscribers into freeform groups
        * Free testing - don't pay until you're fully deployed
        * Neat, clean logs, all exportable to CSV
        * Go live immediately (that's real connectivity on a live shortcode)
        * Generate virtually limitless keywords at no additional charge (use these for multiple campaigns or split testing - _know_ which 50% of your ad spend is misallocated)
        * Reasonable monthly pricing (c.f. aggregators) and rock-bottom messaging costs, even at low volumes
        * Support goes directly to the developers, with rapid escalation to our founders
  .span-22
    .span-20
      %h2#productPricing Pricing plans
    .span-2.last
      %a{ :href => '#header', :title => 'top' }back to top
    .span-22.last
      :textile

        div(span-22 last). <h4 class="subheader">Shared "shortcode (Short codes, also known as short numbers, are special telephone numbers, significantly shorter than full telephone numbers, which can also be used to address SMS and MMS messages from mobile phones or fixed phones. - Wikipedia)":http://en.wikipedia.org/wiki/Short_code -- "email us":#contactBox about dedicated shortcode provisioning.</h4>

        h5(note span-22 last). *With either plan, you don&#39;t get just one keyword - use as many as you need.*

        <hr />

        h3. High-volume messaging plan

        div(span-10). <h4 class="subheader">Please "inquire":#contactForm about setup and monthly fees.</h4>

        div(span-7). <h4 class="subheader"><em>No monthly fees until you're live.</em></h4>

        div(span-5 last). <h4 class="subheader">*No charge for keywords*</h4>

        <div class="span-22 last">

        |_. Monthly outgoing messages |_. 0-20K |_. 20K-50K |_. 50K-100K |_. 100K-250K |_. 250K-500K |_. 500K-1M |_. 1M+ |
        | &cent; per outgoing message (MT) | 5.0 | 4.5 | 4.0 | 3.5 | 3.0 | 2.5 | 2.0 |
        | &cent; per incoming message (MO) | 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 0.0 |

        </div>

        h4. *Special offer*: 2&cent; outgoing, 0&cent; incoming, regardless of volume. "Ask us":#contactForm about it.

        <hr />

        h3. Low-volume messaging plan

        div(span-8). <h4 class="subheader">Please "inquire":#contactForm about monthly fees.</h4>

        div(span-7). <h4 class="subheader"><em>No monthly fees until you're live.</em></h4>

        div(span-7 last). <h4 class="subheader">*Price per incoming message (MO):* 2&cent;</h4>

        <div class="span-22 last">

        |_. Monthly outgoing messages |_. 0-3,500 |_. 3,500-6,000 |_. 6,000-10,000 |_. 10,000+ |
        | &cent; per outgoing message (MT) | 10 | 9 | 8 | 7 |

        </div>

        <hr />

#contactBox.span-22.append-1.prepend-1.container.last
  .span-18.append-2
    %h2 Contact us for a demo of our private-label SMS solution or with general SMS questions
  .span-2.last
    %a{ :href => '#header', :title => 'top' }back to top
  #contactForm.span-12
    = render(:partial => "/js-form")
  #contactInfo.span-9.prepend-1.last.container
    %h3 Reach us by phone
    :textile
      Demos available. Prices as low as 2&cent; out, even at low volumes.

      Call us: (810) 3RECESS<br />_that's_ (810) 373-2377

      Or reach us via the contact form to your left.

      Shortcode connectivity is US-only.
    = render :partial => "news"
